:root {
  /* Text style */
  --font: 'Poppins', sans-serif;
  --main-text: #363636;
  --second-text: #868484;

  /* Layout style */
  --main: #ffffff;
  --accent: #60c1b6;
  --general-gray: #36363644;
  --darker-gray: #363636b3;

  /* Box style */
  --radius: 0.45rem;
}

body {
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: white;
  background-image: linear-gradient(rgb(212, 251, 227), rgb(255, 255, 255));
  background-repeat: no-repeat;
  background-size: auto;
}

.uploadSubmitButton {
  color: white;
  font-family: var(--font);
  font-weight: 600;
  font-size: 13px;
  outline: none;
  border: none;
  padding: 0.70rem 1.85rem;
  background-color: #45c39d;
  background-image: linear-gradient(#4cdcb1, #45c39d);
  border-radius: var(--radius);
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

.uploadSubmitButton:hover {
  background-color: #4ee3b7;
  background-image: linear-gradient(#4cdcb1, #4ee3b7);
  box-shadow: 2px 2px 10px rgba(96, 255, 191, 0.36);
}

.uploadSubmitButton.loading {
  cursor: not-allowed;
}

.selectFilesBox {
    background-color: #B5E2DD01; 
    background-image: linear-gradient(to right, rgb(227, 255, 227), rgb(255, 255, 255));
    box-shadow: 3px 3px 10px rgba(19, 132, 19, 0.197);
    padding: 10px;
    border-radius: var(--radius); 
    width: 400px;
    margin: 5px;
    height: 100px;
}

input[type=file]::file-selector-button {
  cursor: pointer;
  font-size: 1.2em;
}

.uploadApp {
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  text-align: center;
}

.loadingCircle-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.loadingCircle {
  border: 8px solid #f3f3f3;
  border-top: 8px solid var(--accent);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.tealButton {
  cursor: pointer;
  outline: none;
  border: none;
  width: 110px;
  font-family: var(--font);
  font-weight: 600;
  border-radius: var(--radius);
  background-color: #45c39d;
  background-image: linear-gradient(#4cdcb1, #45c39d);
  color: white;
  padding: 0.70rem;
}